.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.block-11 {
    margin: 0;
    padding: 0;
}

.nonloop-block-11 {
    padding-left: 0; /* Ensure no extra padding on the left */
    margin-left: 0; /* Ensure no extra margin on the left */
}

.owl-carousel .owl-stage-outer {
    padding-left: 0;
    margin-left: 0;
}
